
<div class="footer">
       <table>
           <tr>
               <td style="width: 77%">
                   <h4>SmartSHARE <span>version 0.1</span></h4>
               </td>
               <td>
                    <button mat-raised-button color="accent" (click)="newEntity()">New Entity</button>
               </td>
               <td>
                   <button mat-raised-button color="accent" (click)="searchLastEntry()">Last Entry Searched</button>
               </td>
               <td>
                   <button mat-raised-button color="accent" (click)="goToReport()">Reports</button>
               </td>
               <td>
                    <button mat-raised-button color="accent" (click) = "goToLogs()">Logs</button>
                </td>
           </tr>
       </table>
</div>