<h5 class="text-center logo">SmartShares</h5>
<h6 class="text-center">Client report</h6>
<p>Report Type : N/A</p>
<p>Start Date  : {{ searchParams.value.startDate | date}}</p>
<p>End Date    : {{ searchParams.value.endDate | date}}</p>
<p>Total Clients within this period : {{totalData +' Client(s).'}}</p>

<table class="table table-responsive report-table">
    <thead>
        <tr>
            <th>CLIENT ID</th>
            <th>FULLNAME</th>
            <th>DOB</th>
            <th>ADDRESS</th>
            <th>EMAIL</th>
            <th>EMAIL TYPE</th>
            <th>CITY</th>
            <th>HOME LINE</th>
            <th>WORK LINE</th>
            <th>CELL</th>
            <th>ZIP CODE</th>
            <th>CITY</th>
            <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody>
          <tr *ngFor="let data of dataset">
                <td>{{data.clientId}}</td>
                <td>{{data.firstname +' '+ data.middlename +' '+ data.lastname | uppercase}}</td>
                <td>{{data.dob | date}}</td>
                <td>{{data.address1}}</td>
                <td>{{data.email}}</td>
                <td>{{data.emailType}}</td>
                <td>{{data.city}}</td>
                <td>{{data.homeContactNumber == '' ? 'N/A':data.homeContactNumber}}</td>
                <td>{{data.workContactNumber == '' ? 'N/A':data.workContactNumber}}</td>
                <td>{{data.cellContact == '' ? 'N/A' : data.cellContact}}</td>
                <td>{{data.zipCode}}</td>
                <td>{{data.city}}</td>
                <td>{{'GHS '+data.amount}}</td>
          </tr>  
    </tbody>
</table>
<div class="spinner-border text-primary" style="margin: auto; display:block;" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
</div>  
<nav aria-label="Page navigation example" style="margin: auto !important; display: block">
    <ul class="pagination">
      <li class="page-item {{ pageable.currentPage+1 == 1?'disabled':''}}"><a class="page-link" href="#" (click)="previous()">Previous</a></li>
      <li class="page-item {{ page == pageable.currentPage+1 ?'active':''}}" *ngFor="let page of pageable.totalPages">
          <a class="page-link " href="javascipt:void(0)" (click)="paginate(page)">{{page}}</a>
     </li>
      <li class="page-item {{ pageable.totalPagesSize == pageable.currentPage+1 ? 'disabled':''}}"><a class="page-link" (click)="next()" href="#">Next</a></li>
    </ul>
  </nav>

 


